{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/estilohistorias.css' %}"/>
    <title>Comentários</title>
</head>
<body>
    <section id='interface-historias'>
        <table id='tabela'>
        <tr id='titulo'>
            <td>NOME</td>
            <td>COMENTÁRIO</td>
        </tr>
        {% for x in comentario %}
            <tr>
                <td>{{ x.nome }}</td>

                <td>{{ x.post }}</td>
            </tr>
        {% endfor %}
        </table>
        <div id='botoes'>
        <a id='botao' href="{% url 'postagem' %}">Faça comentários</a><br><br>
        <a id='botao' href="{% url 'index' %}">Página Inicial</a>  
        </div>
    </section>
</body>
</html>