{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Faça Comentários</title>
    {% bootstrap_css %}

</head>
<body>
    <h2>Faça Comentários</h2>
    <div class="container">
        {% bootstrap_messages %}

        <form action="{% url 'postagem' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            
            {% buttons %}
                <button type="submit" class="btn btn-primary">Enviar</button>
            {% endbuttons %}
        </form>
    </div>

{% bootstrap_javascript jquery='full' %}
<a href="{% url 'index' %}">Pagina Inicial</a>
</body>
</html>